[Unit]
Description=Frp Client Service %I
After=network.target

[Service]
Type=simple
DynamicUser=yes
Restart=on-failure
RestartSec=5s
WorkingDirectory=/etc/frp/
ExecStart=/usr/bin/frpc -c /etc/frp/%i.ini

[Install]
WantedBy=multi-user.target
