# Check if a Prebuilt-MPR package needs updated.
name: Check Package
run-name: Check Package: '${{ inputs.pkgbase }}'
on:
  workflow_dispatch:
    inputs:
      pkgbase:
        required: true
        type: string

jobs:
  check-pkg:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Import Vault secrets
        uses: hashicorp/vault-action@v2
        with:
          url: https://vault.hunterwittenborn.com
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            kv/data/ci github_api_key | GH_TOKEN
      - name: Setup makedeb
        uses: makedeb/setup-makedeb@main
        with:
          makedeb-repo: false
          pbmpr-repo: true
      - name: Install needed dependencies
        run: |
          sudo apt-get install just -y
          just install-deps
      - name: Download Prebuilt-MPR helper binary
        run: gh release download -p pbmpr
      - name: Make Prebuilt-MPR helper binary executable
        run: chmod +x ./pbmpr
      - name: Run update checks for the specified package
        run: ./pbmpr check-pkg "${{ inputs.pkgbase }}"
        env:
          GITHUB_TOKEN: "${{ env.GH_TOKEN }}"
          GITHUB_USERNAME: "kavplex"
