# Trigger Workflow Runs for Prebuilt-MPR Update Checks.
name: Trigger Checks
on:
  schedule:
    - cron: '*/10 * * * *'

jobs:
  trigger-checks:
    name: Trigger Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Prebuilt-MPR APT repository
        uses: makedeb/setup-makedeb@main
        with:
          makedeb-repo: false
          pbmpr-repo: true
      - name: Install prerequisites
        run: sudo apt-get install dasel -y
      - name: Run package checks
        run: |
          # Get package list
          mapfile -t pkgbases < <(dasel -f packages.toml -w json | jq -r 'keys_unsorted | .[]')

          # Start package checks, with a 0.5s delay so we don't get rate limited by the GitHub API.
          for pkgbase in "${pkgbases[@]}"; do
            gh workflow run check-pkg.yml -F "pkgbase=${pkgbase}"
            sleep 0.5
          done
